extends layout

block main
  div(class="row",data-ng-controller="imageProcessingCtrl")
    div(class="col-xs-12 text-center")
      div(class="row")
        div(class="col-xs-12")
          h1 Create Internet Friendly Images!
      div(class="row separate-vert-medium")
        div(class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4")
          input(type="text",class="form-control input-lg separate-vert-small",placeholder="E-mail Address",data-ng-model="email")
          input(style="display:none",id="imageFile",type="file",class="form-control",fileread="newImage")
          button(class="btn btn-success btn-lg",data-ng-click="handlers.fileInputClick()") Create Images!
      div(class="row")
        div(class="col-xs-12")
          div We will e-mail you with a link to the processed files, stored as a .zip file once all images have been created.
      div(class="row separate-vert-medium",data-ng-show="uploadError")
        div(class="col-xs-12 col-md-8 col-md-offset-2")
          alert(type="danger") {{ uploadError }}
      div(class="row separate-vert-medium",data-ng-show="uploadSuccess")
        div(class="col-xs-12 col-md-8 col-md-offset-2")
          alert(type="success")
            strong {{ uploadSuccess }}
      div(class="row")
        div(class="col-xs-12 text-center")
          button(class="btn btn-default",data-ng-click="functions.flipTypesSelected()") Flip Selections
      div(class="row text-left")
        div(class="separate-vert-small col-xs-12 col-sm-4",data-ng-repeat="(cat,types) in processTypes")
          h1 {{ cat }}
          div(data-ng-repeat="type in types")
            div(class="type-selection click padding-medium separate-vert-small",data-ng-class="(typesSelected[type.key]) ? 'selected' : ''",data-ng-click="handlers.typeToggle(type.key,$event)")
              div(class="row")
                div(data-ng-class="(type.example) ? 'col-xs-8 col-lg-10': 'col-xs-12'")
                  input(class="sr-only",type="checkbox",name="types",data-ng-model="typesSelected[type.key]",data-ng-true-value="true",data-ng-false-value="false")
                  span(style="margin-right:10px",class="glyphicon",data-ng-class="(typesSelected[type.key]) ? 'glyphicon-ok' : 'glyphicon-minus'")
                  span {{ type.name }}
                div(class="col-xs-4 col-lg-2",data-ng-show="type.example")
                  img(class="img-responsive img-thumbnail",data-ng-src="/file/{{ type.example }}",data-ng-click="handlers.launchImageExample(type.example)")